.idea
.venv
mysql
.env
client
/node_modules
/backend/apps/auth/migrations/
/backend/apps/booking/migrations/
/backend/apps/category/migrations/
/backend/apps/city/migrations/
/backend/apps/region/migrations/
/backend/apps/review/migrations/
/backend/apps/room/migrations/
/backend/apps/room_type/migrations/
/backend/apps/user/migrations/
/backend/apps/profile_staff/migrations/
/backend/apps/staff_role/migrations/
/backend/apps/wishlist/migrations/