.main {
    height: 80vh;
    background-image: url("../../files/bg/pexels-tara-winstead-6690202.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}