.header_common {
    margin: 0;
    height: 10vh;
    min-height: 8vh;
    background: linear-gradient(to right, rgb(31, 23, 56), #382c5d);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: larger;
}

.logo_box {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo_box img {
    width: 80%;
}

.navbar {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*background: rgba(89, 62, 32, 0.3);*/
    text-decoration: none;
    color: white;
}

.navbar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 30%;
    font-size: larger;
}

.navbar_item:hover {
    background: #382c5d;
}

.theme_toggle {
    width: 10%;
    display: flex;
    align-items: center;
}

.account_box {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: small;
}

.account_box:hover {
    background: #382c5d;
}

.back_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17vh;
    z-index: +1;
    cursor: pointer;
    font-size: larger;
    position: fixed;
    background: linear-gradient(to right, rgb(31, 23, 56), rgba(56, 44, 93, 0.2));
    height: 5vh;
    width: 8vw;
    color: white;
}

/*.login_items {*/
/*    color: white;*/
/*    background: rgba(162, 145, 216, 0.77);*/
/*    !*background: rgba(155, 2, 77, 0.91);*!*/
/*}*/

