.footer_common {
    margin: 0;
    height: 10vh;
    min-height: 8vh;
    background: linear-gradient(to right, rgb(31, 23, 56), #382c5d);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: larger;
}