@import url("https://cdn.syncfusion.com/ej2/material.css");

.component_wrap {
    height: 30%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select_date_wrap {

}

.datepicker {
    border-radius: 4px;
    position: relative;
    max-width: 200px;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.datepicker:focus-within {
    border-color: darkslateblue;
}

.datepicker::after {
    content: "";
    width: 32px;
    height: 32px;
    background-color: lightslategrey;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 0;
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>') no-repeat center / 60%;
}

.datepicker input {
    border-radius: inherit;
    border: none;
    outline: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-size: 0.85rem;
    width: 100%;
}

.datepicker input::placeholder {
    color: lightslategray;
}

.datepicker button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: slategray;
    font-size: 0.85rem;
}

.calendar {
    background: rgba(240, 239, 239, 0.46);
    position: absolute;
    top: 100%;
    margin-top: 8px;
    z-index: 9999;
    overflow: hidden;
    padding: 1rem;
    border-radius: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
    text-align: center;
    font-size: 0.85rem;
}

.calendar:not([hidden]) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.controls button {
    width: 32px;
    height: 32px;
    touch-action: manipulation;
}

.controls button.prev {
    justify-self: start;
}

.controls button.next {
    order: 1;
    justify-self: end;
}

.controls strong.label {
    grid-column: 2;
    font-weight: 600;
    text-transform: uppercase;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 0.5rem;
    width: 220px;
}

.days {
    font-weight: 600;
}

.dates span {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    color: slategray;
}

.dates span:hover {
    background-color: #1f1738;
}

.dates span.disabled {
    color: rgba(197, 195, 195, 0.84);
    pointer-events: none;
}

.dates span.today {
    background-color: #b9a9ea;
    color: #1f1738;
}

.dates span.range_start.range_end {
    border-radius: 4px;
}

.dates span.range_start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: darkslateblue;
    color: white;
}

.dates span.range_end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: darkslateblue;
    color: white;
}

.dates span.in_range {
    border-radius: 0;
    background-color: rgba(135, 124, 170, 0.9);
}

.action_menu {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.action_menu button {
    background-color: rgba(234, 232, 241, 0.9);
    padding: 0.25rem 0.5rem;
}

.action_menu button.cancel {
    margin-left: auto;
}

.action_menu button.apply {
    background-color: darkslateblue;
    color: white;
}