.component_wrap {
    height: 30%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}